%h2 Welcome Page

%ul
  %li Access token: #{@access_token}
  %li Access token expiry: #{@access_token_expiry} (#{@access_token_expiry.getlocal.strftime('%Y-%m-%d %H:%M:%S')})
  %li Cookie: #{@cookie}
  %li Params: #{@parms}
  %li User: #{@user.inspect}

#logged_in.box
  %p You are authenticated and ready to start using the app!

#unknown.box
  %p You are not logged in, and/or need to authorize the application.
  <fb:login-button perms="publish_stream,user_birthday">Log In</fb:login-button>

:javascript
  function clear() {
    $(".box").css("background-color", "#fff");
  }
  function highlight(element) {
    clear()
    $(element).css("background-color", "#fc0");
  }
  clear();

  FB.init({appId: '#{FacebookConfig['app_id']}', status: true, cookie: true, xfbml: true});
  FB.Event.subscribe('auth.sessionChange', function(response) {
    if (response.session) {
      clear(); highlight("#logged_in");
      alert("User just logged in!");
    } else {
      clear(); highlight("#unknown");
      alert("User logged out!");
    }
  });
  FB.getLoginStatus(function(response) {
    if (response.session) {
      clear(); highlight("#logged_in");
      alert("User already logged in.");
    } else {
      clear(); highlight("#unknown");
      alert("Unknown user!");
    }
  });
