:javascript
  $(document).ready(function() {
    fbauth_hide_panels();
  });
  FB.getLoginStatus(function(response) { fbauth_update_page(response); });
  FB.Event.subscribe('auth.statusChange', function(response) { fbauth_update_page(response); });
  function fbauth_hide_panels {
    $('#{login_el}').hide();
    $('#{add_el}').hide();
    $('#{ready_el}').hide();
  }
  function fbauth_update_page(response) {
    fb_hide_panels();
    if (response.status == 'connected') {
      $('#{ready_el}').show();
      window.top.location.href = '#{FacebookConfig.app_url}';
    } else if (response.status == 'unknown') {
      $('#{login_el}').show();
    } else if (response.status == 'notConnected') {
      $('#{add_el}').show();
    }
  }
