!!! Strict
%html
  %head
    %title Facebook Authentication Test
    %script{ :src => "http://connect.facebook.net/en_US/all.js", :type => "text/javascript" }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript" }
  %body
    <div id="fb-root"></div>
    %h1 Facebook Authentication Test
    - unless @facebook_auth_data.nil?
      = render :partial => '/common/session_data'
      %ul
        %li= link_to 'Page 1', page1_path
        %li= link_to 'Page 2', page2_path
    :javascript
      FB.init({appId: '#{FacebookConfig['app_id']}', status: true, cookie: true, xfbml: true});
      FB.Canvas.setAutoResize();
      FB.Event.subscribe('auth.sessionChange', function(response) {
        if (response.session) {
          alert("User just logged in!");
        } else {
          alert("User logged out!");
        }
      });
    = yield
